@import './assets/scss/variables.scss';


body {
    margin: inherit;
    font-family: $font-base;

    ul {
        list-style-type: none;
    }

    .headings {
        margin-bottom: 50px;

        .page-title {
            color: $primary;
            font-size: $fs-headers;
            font-weight: $fw-headers;
            margin-bottom: 1rem;
        }
    }
}

img {
    width: 100%;
    height: auto;
}

a:-webkit-any-link {
    text-decoration: none;
}

.content {
    text-align: center;
    margin: 20px 100px;
}