@import './assets/scss/variables.scss';


body {
    margin: inherit;
    font-family: $font-base;
    height: 100%;

    ul {
        list-style-type: none;
    }

    .headings {
        margin: 50px;

        .page-title {
            color: $primary;
            font-size: $fs-headers;
            font-weight: $fw-headers;
            margin-bottom: 1rem;
        }
    }
}

img {
    width: 100%;
    height: auto;
}

a {
    img {
        transition: $animation;
    }
    &:-webkit-any-link {
        text-decoration: none;
    }
}

.content {
    text-align: center;
    margin: 0 100px;
    height: 100vh;
}

input {

    &[type="text"], &[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $gray;
        border-radius: 4px;
        font-size: 16px;
    }
}

button , input[type="submit"] {
    background: linear-gradient(to left, $primary, $secondary);
    color: $white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: $animation;

    &:hover {
        background: linear-gradient(to left, $primary-wo, $secondary-wo);
    }
}