@import './assets/scss/variables.scss';


body {
    margin: inherit;
    font-family: $font-base;

    ul {
        list-style-type: none;
    }
}

img {
    width: 100%;
    height: auto;
}

a:-webkit-any-link {
    text-decoration: none;
}