.topics-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;

    .topic-item {
        border-radius: $br-normal;
        box-shadow: $box-shadow;
        overflow: hidden;
        width: 400px;

        a:hover {
            cursor: pointer;
            
            img {
                transform: scale(1.1);
            }
        }

        .topic-img {
            background: radial-gradient(circle, $secondary, $primary);
            padding: 70px;
            display: block;

            img {
                aspect-ratio: 1;
            }
        }

        .quiz-interaction {
            display: flex;
            padding: 10px;
            justify-content: space-around;

            
            img {
                width: 50px;
            }
        }

        .topic-description {
            padding: 1rem;

            p {
                text-align: left;
            }
        }
    }
}

#memorium {
    width: 100%;
    background-color: $primary;
    color: $white;

    .content {
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
        
        span {
            font-size: $fs-headers;
            font-weight: $fw-headers;
        }

        ul {
            padding-left: 0;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}