#quizForm {
    height: 100%;
    .question-container {
        height: 100%;

        .question {
            color: $white;
            height: 50vh;
            background: linear-gradient(to left,$primary, $secondary);
            margin-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $fs-headers;
            font-weight: $fw-headers;
            text-transform: uppercase;
        }

        .answer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 50px;
            margin: 0 100px;

            label {
                width: 40%;
                height: 100px;
                box-shadow: $box-shadow;
                border-radius: $br-normal;
                display: flex;
                gap: 10px;
                align-items: center;
                text-align: left;
                transition: $animation;
                overflow: hidden;
                font-size: 14px;

                &:hover {
                    background-color: $l-gray;
                }

                &:before {
                    content: var(--before-content, "");;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    aspect-ratio: 1;
                    background-color: $white;
                    color: $primary;
                    text-align: center;
                    font-size: $fs-medium;
                    font-weight: $fw-headers;
                    top: 50%;
                }

                &:has(input[type="radio"]:checked) {
                    &:before {
                        background: linear-gradient(to left, $primary, $secondary);
                        color: $white;
                    }
                }

                input {
                    display: none;
                }
            }

        }

    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
    }
   
}