@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

/* colors */
$primary:   #35008A;
$secondary: #CA00D5;
$black:     #000;
$white:     #fff;
$l-gray:    #f8f8f8;
$gray:      #ccc;
$gray-2:    #555;


/* fonts */
$font-base: "Reddit Mono", monospace;
$fs-headers: 40px;
$fw-headers: 800;
$fs-medium:  24px;


/* box shadow */
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
$br-normal: 5px;

$animation: all 200ms ease-in-out;